@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/rawline");

@layer base {
  body {
    font-family: "Rawline";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@layer components {
  /* AuthPage */
  .auth-container {
    @apply flex items-center justify-center min-h-screen bg-stone-200;
  }
  .auth-components {
    @apply relative flex h-100 rounded-4xl overflow-hidden shadow-2xl;
  }

  /* PainelSlide */
  .painel-container {
    @apply absolute top-0 left-0 h-100 w-sm bg-purple-800
        flex items-center justify-center text-white
        transition-transform duration-800 ease-in-out
        rounded-4xl;
  }
  .painel-el {
    @apply flex flex-col items-center text-center gap-3 px-8;
  }
  .painel-btn {
    @apply mt-4 border border-white px-6 py-2 rounded-full hover:bg-white hover:text-purple-800 transition;
  }

  /* Login e Register */
  .component-container {
    @apply bg-white h-100 w-sm;
  }
  .itens-container {
    @apply flex flex-col items-center gap-6 w-full px-8 justify-center h-100;
  }
  .form-title {
    @apply text-4xl font-semibold text-slate-800;
  }
  .form-container {
    @apply flex flex-col gap-4 w-full max-w-sm;
  }
  .form-input {
    @apply w-full px-4 py-2 border border-slate-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600;
  }
  .form-btn {
    @apply mt-2 bg-purple-800 text-white py-2 rounded-md font-medium hover:bg-purple-700 transition;
  }
}
